.header {
    height: 40px;
  
    padding-bottom: 15px;
    font-weight: bold;
    font-size: larger;
    border-bottom: solid;
  
    display: flex;
    align-items: flex-end;
    gap: 60px;
  }
  
  .selected {
    color: #3a5a40;
  }
  
  /* Insert @Media queries here! */
   

  /*smaller*/
@media (min-width: 0px) {

.header {
    justify-content: flex-start;
}

}

  /*medium*/
@media (min-width: 768px) {

.header {
    justify-content: space-around;
}

}

  /*Large x*/
@media (min-width: 1200px) {

.header {
    justify-content: space-evenly;
}

}